@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    font-weight: 500;
    font-size: x-large;
    margin-top: 80px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    color: black;
    margin: 0 auto;
    border-radius: 10px;
    width: 720px;
}

.section {
    padding: 10px;
    cursor: pointer;
    font-weight: 700;
    font-size: 25px;
    transition: background-color 0.3s ease;
    width: 260px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: black;
}

.section .icon {
    margin-right: 5px;
    display: none;
}

.section.active,
.section:hover {
    background-color: black;
    color: white;
}

.section.active .icon,
.section:hover .icon {
    display: inline-block;
}


.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.product-card {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px;
    width: 270px;
    height: 470px;
}
.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #d8d8d6;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
  }
.product-image {
    width: 100%;
    height: 70%;
}

.product-info {
    padding: 18px;
}

.first {
    display: flex;
    align-items: center;
   justify-content: space-between;
}

.product-title {
    font-size: 20px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.bullet{
    font-size: x-large;
    font-weight:900;
    color: black;
}
.vendor-name {
    display: flex;
    align-items: center;
    color: black;
    margin: 0;
    gap: 5px;
}

.second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -10px;
    font-size: 14px;
}

.price {
    font-size: 14px;
    margin: 10px 0;
}

.discount {
    color: red;
    font-weight: bold;
    font-size: 14px;
}

.compare-at-price {
    text-decoration: line-through;
    color: #999;
}

.add-to-cart-btn {
    justify-content: center;
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 220px;
    font-size: 20px;
}

@media only screen and (max-width: 1246px){
    .product-card {
        width: 230px;
        height: 470px;
    }
    .product-image {
        width: 100%;
        height: 65%;
    }

    .add-to-cart-btn {
        width: 200px;
    }

    .second {
        font-size: 12px;
    }
    
    .price {
        font-size: 12px;
    }
    
    .discount {
        font-size: 12px;
    }
}


@media only screen and (max-width: 700px){
    .header{
        font-size: larger;
    }
    .container {
        width: 600px;
    }
    .section {
        width: 260px;
        font-size: x-large;    
    }
}

@media only screen and (max-width: 580px){
    .header{
        font-size:15px;
    }
    .container {
        width: 510px;
    }
    .section {
        width: 170px;  
        font-size: larger;  
    }
}

@media only screen and (max-width: 543px){
    .header{
        font-size:13px;
    }
    .container {
        width: 390px;
    }
    .section {
        width: 130px; 
        font-size: larger;   
    }
    .product-card {
        width: 300px;
        height: 550px;
    }
    .product-image {
        width: 100%;
        height:70%;
    }

    .add-to-cart-btn {
        width: 270px;
    }
    .second {
        font-size: 17px;
    }
    
    .price {
        font-size: 17px;
    }
    
    .discount {
        font-size: 17px;
    }
}

@media only screen and (max-width: 390px){
    .header{
        font-size:12px;
    }
    .container {
        width: 330px;
    }
    .section {
        width: 110px; 
        font-size: large;   
    }
}
